{% extends 'base.html.twig' %}

{% block title %}Результати{% endblock %}

{% block body %}
    <div id="outer">
        <div class="center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <br>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Форма входу</h1>
                            <label for="inputUsername" class="sr-only">Логін</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Логін" required autofocus>
                            <br>
                            <label for="inputPassword" class="sr-only">Пароль</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">

                            <br>
                            <button class="btn btn-lg btn-success login-buttons" type="submit">Вхід</button>
                            <span class="pull-right">
                            <a class="btn btn-lg btn-default login-buttons login-get-back-btn" href="{{ app.request.getSchemeAndHttpHost() }}">Назад</a>
                        </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}